{% extends 'main/layout.html' %}
{% load static %}

{% block title %}FERAL_&_CRAFT - О нас{% endblock %}

{% block content %}
    <div class="about container">
         <img src="{% static 'main/img/about.png' %}" alt="">
    </div>
    <h4>FERAL & CRAFT</h4>
    <p>Целевая аудитория («Приручающие Хаос»):Это цифровые кочевники с характером, основатели. Они мыслящими вне рамок, ценят аутентичность и обладают мощной внутренней энергией, которую им нужно выразить через свое пространство. Их дом — это их логово, святилище и манифест.</p>
     <button class="btn">Показать больше</button>
{% endblock %}