{% extends 'main/layout.html' %}
{% load static %}

{% block title %}FERAL_&_CRAFT{% endblock  %}

<!--ЗАГОЛОВОК + СИНЕЕ КРЕСЛО--> 
{%  block content %}
<div class="hero container">
    <div class="hero--info">
        <h2>FERAL & CRAFT</h2>
    </div>
        <img src="{% static 'main/img/blue_cheir.svg' %}" alt="">
 </div>

{% endblock %}

<!--КОНТЕЙНЕРЫ С КОМНАТАМИ-->
{% block section  %}
<div class="blocks">
<div class="rooms">
    <div class="block">
        <span>
            <img src="{% static 'main/img/ikn.spalna.svg' %}" alt="">
            Спальня
        </span>
    </div>

    <div class="block">
        <span>
            <img src="{% static 'main/img/ikn.kitchen.svg' %}" alt="">
            Кухня
        </span>
    </div>

    <div class="block">
        <span>
            <img src="{% static 'main/img/ikn.living.svg' %}" alt="">
            Гостиная
        </span>
    </div>

    <div class="block">
        <span>
            <img src="{% static 'main/img/ikn.bathroom.svg' %}" alt="">
            Ванная
        </span>
    </div>

    <div class="block">
        <span>
            <img src="{% static 'main/img/ikn.decor.svg' %}" alt="">
            Декор
        </span>
    </div>
    </div>
    </div>

{% endblock   %}

<!--БЛОК СО СКИДКАМИ-->
{% block disckount %}
<div class="disckount">
    <div class="container">
        <p>Актуальные скидки и специальные предложения</p>
        <div class="skidka-container">
            <div class="skidka1">
                <a href="/catalog.html" class="block-link">
                    <img src="{% static 'main/img/sskidka1.svg' %}" alt="Скидка 1">
                </a>
            </div>
            <div class="skidka2">
                <a href="/catalog.html" class="block-link">
                    <img src="{% static 'main/img/sskidka2.svg' %}" alt="Скидка 2">
                </a>
            </div>
            <div class="skidka3">
                <a href="/catalog.html" class="block-link">
                    <img src="{% static 'main/img/sskidka3.svg' %}" alt="Скидка 3">
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!--РЕШЕНИЕ ПО СТИЛЮ-->
{% block decision %}
<div class="decision">
    <p class="decision__title">Мы собрали лучшие решения<br> по стилю, материалам и трендам</p>
    <button class="btn btn--primary">Показать больше</button>
    
    <div class="decision-grid">
        <!-- Карточка 1 -->
        <div class="decision-card">
            <div class="decision-card__image">
                <img src="{% static 'main/img/stile1.svg' %}" alt="Стильное решение 1">
            </div>
        </div>

        <!-- Карточка 2 -->
        <div class="horizontal-layout">
            <!-- ЛЕВАЯ ЧАСТЬ - stile2 -->
            <div class="horizontal-layout__item">
                <div class="decision-card">
                    <div class="decision-card__image">
                       <a href="/catalog.html" class="block-link">
                            <img src="{% static 'main/img/stile2.svg' %}" alt="Стильное решение 2">
                        </a>
                    </div>
                </div>
            </div>
            
            <!-- Текст и кнопка по центру -->
            <div class="horizontal-layout__center">
                <p class="decision-card__text">Добавьте цвета: Стильные детали любого пространства</p>
                <button class="btn btn--secondary">Каталог</button>
            </div>
            
            <!-- stile3 справа -->
            <div class="horizontal-layout__item">
                <div class="decision-card">
                    <div class="decision-card__image">
                        <a href="/catalog.html" class="block-link">
                            <img src="{% static 'main/img/stile3.svg' %}" alt="Стильное решение 3">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Карточка 4 -->
        <div class="decision-card">
            <div class="decision-card__image">
                <img src="{% static 'main/img/stile4.svg' %}" alt="Стильное решение 4">
            </div>
        </div>

        <!-- Карточка 5 -->
        <div class="decision-card">
            <div class="decision-card__image">
                <a href="/catalog.html" class="block-link">
                    <img src="{% static 'main/img/stile5.svg' %}" alt="Стильное решение 5">
                </a>
            </div>
            <div class="decision-card__content">
                <button class="btn btn--secondary">Декор</button>
                <p class="decision-card__text">Стильные часы для гостиной</p>
            </div>
        </div>

        <!-- Карточка 6 -->
        <div class="decision-card">
            <div class="decision-card__image">
                <img src="{% static 'main/img/stile6.svg' %}" alt="Стильное решение 6">
            </div>
        </div>
        <!-- Карточка 7 -->
        <div class="decision-card">
            <div class="decision-card__image">
                <a href="/catalog.html" class="block-link">
                    <img src="{% static 'main/img/stile7.svg' %}" alt="Стильное решение 5">
                </a>
            </div>
            <div class="decision-card__content">
                <button class="btn btn--secondary">Декор</button>
                <p class="decision-card__text">Каждый предмет — артефакт</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}